*{
  margin: 0;
  padding: 0;
}
#contenido{
  background-color:antiquewhite ;
}

.navbar{
  background-color: #0a1420;
}
.navbar .navbar-brand{
  color: #fff;
  font-size: 1.5em;
}
.navbar .navbar-nav .nav-item a{
  color: #fff ;
  font-size: 1.2em;
}

.fondo-logo{  
  background-color: #0a1420;
}
.fondo-logo a{
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-size: 1.2rem;
}