*{
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: #0a1420;
}
.navbar .navbar-brand{
  color: #fff;
  font-size: 1.5em;
}
.navbar .navbar-nav{
  color: #fff;
  font-size: 1.2em;
}

.banner{
  height: 420px ;
  background-image:url(./images/banner1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}